@charset "UTF-8";
/*# Global Css Start  */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* bundle course CSS start */
.a2n-topHeadCourse .courseFaciities {
  background-image: linear-gradient(to bottom, #e3f3fb, #b1e1f5);
  padding: 16px 15px;
}

.a2n-topHeadCourse .courseFaciities .contents {
  max-width: 1472px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.a2n-topHeadCourse .courseFaciities .contents .singleBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.a2n-topHeadCourse .courseFaciities .contents .singleBox span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #00425e;
  font-family: "Open Sans", sans-serif;
}

.a2n-topHeadCourse .topContent {
  background-color: #e6f5fc;
  padding: 80px 15px;
}

.a2n-topHeadCourse .topContent .contents {
  max-width: 1472px;
  margin: 0 auto;
}

@media (min-width: 991px) and (max-width: 1440px) {
  .a2n-topHeadCourse .topContent .contents {
    width: 65%;
    margin: 0 auto 0 0;
  }
}
.a2n-topHeadCourse .topContent .contents .breadcrumbs li.current:before {
  content: "❯";
  position: relative;
  font-size: 15px;
  top: -1px;
}

.a2n-topHeadCourse .topContent .contents .breadcrumbs span {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

.a2n-topHeadCourse .topContent .contents .courseTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #1a171b;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.a2n-topHeadCourse .topContent .contents .reviewBox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 23px;
}

.a2n-topHeadCourse .topContent .contents .reviewBox p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #684e00;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

.a2n-topHeadCourse .topContent .contents .reviewBox span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

.a2n-topHeadCourse .topContent .contents .updateAndLanguage {
  display: flex;
  align-items: center;
  gap: 29px;
}

.a2n-topHeadCourse .topContent .contents .updateAndLanguage div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.a2n-topHeadCourse .topContent .contents .updateAndLanguage div span {
  font-size: 16px;
  line-height: 24px;
  color: #4f4c4f;
  font-family: "Open Sans", sans-serif;
}

.a2n-topHeadCourse .topContent .contents .updateAndLanguage div.andLan svg .fill-current {
  fill: #4f4c4f;
}

.a2n-topHeadCourse .courseAcredations {
  background-color: #1a171b;
  padding: 24px 15px;
}

.a2n-topHeadCourse .courseAcredations .contents {
  max-width: 1472px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.a2n-topHeadCourse .courseAcredations .contents .mapRatings {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 24px;
  border-right: 1px solid #fff;
}

.a2n-topHeadCourse .courseAcredations .contents .mapRatings p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.a2n-topHeadCourse .courseAcredations .contents .mapRatings a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.a2n-topHeadCourse .courseAcredations .contents .mapRatings a div {
  display: flex;
  align-items: center;
  gap: 3px;
}

.a2n-topHeadCourse .courseAcredations .contents .mapRatings a svg path {
  fill: #f8ba01;
}

.a2n-topHeadCourse .courseAcredations .contents .aredationsImges {
  padding-left: 24px;
}

.a2n-topHeadCourse .courseAcredations .contents .aredationsImges img {
  max-height: 45px;
  margin-right: 15px;
}

@media (max-width: 1024px) {
  .a2n-topHeadCourse .courseAcredations .contents {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .a2n-topHeadCourse .courseAcredations .contents .mapRatings {
    padding-right: 0px;
    border-right: 0;
  }
  .a2n-topHeadCourse .courseAcredations .contents .aredationsImges {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .a2n-topHeadCourse .courseFaciities .contents .singleBox span {
    white-space: nowrap;
  }
  .a2n-topHeadCourse .courseFaciities .contents {
    overflow-x: scroll;
    gap: 30px;
  }
  .a2n-topHeadCourse .courseFaciities .contents::-webkit-scrollbar {
    display: none;
  }
  .a2n-topHeadCourse .topContent {
    padding: 40px 15px;
  }
  .a2n-topHeadCourse .topContent .contents .breadcrumbs span {
    font-size: 12px;
    line-height: 20px;
  }
  .a2n-topHeadCourse .topContent .contents .breadcrumbs li.current:before {
    font-size: 10px;
  }
  .a2n-topHeadCourse .topContent .contents .courseTitle {
    font-size: 24px;
    line-height: 36px;
    margin: 10px 0;
  }
  .a2n-topHeadCourse .topContent .contents .updateAndLanguage {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .a2n-topHeadCourse .courseAcredations .contents {
    align-items: center;
  }
  .a2n-topHeadCourse .courseAcredations .contents .mapRatings {
    flex-direction: column;
  }
  .a2n-topHeadCourse .courseAcredations .contents .aredationsImges {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .a2n-topHeadCourse .courseAcredations .contents .aredationsImges img {
    max-height: 20px;
    margin-right: 5px;
  }
}
/* bundle course CSS end *//*# sourceMappingURL=styles.css.map */